<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=<%= API_KEY %>"></script>
    <script src="/js/mapLoader.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="map" style="width: 1280px; height: 720px;"></div>
    <a onclick="loadMapByLocation()" id="map_btn" style="border: 1px solid black;">맵 띄우기</a>
	<a id="seoul">테스트</a>
	<a onclick="loadMarker(crews)">마커띄우기</a>

	<script>
		const seoul = document.getElementById('seoul');

		seoul.addEventListener('click', ()=>{
			loadMapByAddress();
		});

		const crews = [
			{ lat: 37.5665, lng: 126.9780, title: '서울시청' },
			{ lat: 37.5796, lng: 126.9770, title: '경복궁' },
			{ lat: 37.5512, lng: 126.9882, title: '남산타워' },
		];
	</script>
</body>
</html>