<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DEV</h1>

    <h1>1</h1>
    <h1>2</h1>

    <form action="/test/test" method="post">
        <label class="form-label">이메일</label>
        <input type="email" name="email" placeholder="이메일을 입력하세요.">
        <label class="form-label">비밀번호</label>
        <input type="password" name="password" placeholder="비밀번호를 입력하세요.">
        <label class="form-label">이름</label>
        <input type="text" name="name" placeholder="이름을 입력하세요.">
        <label class="form-label">나이</label>
        <input type="text" name="age" placeholder="나이를 입력하세요.">
        <label class="form-label">전화번호</label>
        <input type="text" name="tel" placeholder="전화번호를 입력하세요.">
        <button type="submit">가입하기</button>
    </form>
</body>
</html>